web/WEB-INF/wsdl/localhost_8080/DataService/PaycomService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paycom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://paycom.com/" name="PaycomService">
<types>
<xsd:schema>
<xsd:import namespace="http://paycom.com/" schemaLocation="http://localhost:8080/DataService/PaycomService?xsd=1"/>
</xsd:schema>
</types>
<message name="Parser">
<part name="parameters" element="tns:Parser"/>
</message>
<message name="ParserResponse">
<part name="parameters" element="tns:ParserResponse"/>
</message>
<message name="GenerateXML">
<part name="parameters" element="tns:GenerateXML"/>
</message>
<message name="GenerateXMLResponse">
<part name="parameters" element="tns:GenerateXMLResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="PaycomService">
<operation name="Parser">
<input wsam:Action="http://paycom.com/PaycomService/ParserRequest" message="tns:Parser"/>
<output wsam:Action="http://paycom.com/PaycomService/ParserResponse" message="tns:ParserResponse"/>
</operation>
<operation name="GenerateXML">
<input wsam:Action="http://paycom.com/PaycomService/GenerateXMLRequest" message="tns:GenerateXML"/>
<output wsam:Action="http://paycom.com/PaycomService/GenerateXMLResponse" message="tns:GenerateXMLResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://paycom.com/PaycomService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://paycom.com/PaycomService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="PaycomServicePortBinding" type="tns:PaycomService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Parser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GenerateXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaycomService">
<port name="PaycomServicePort" binding="tns:PaycomServicePortBinding">
<soap:address location="http://localhost:8080/DataService/PaycomService"/>
</port>
</service>
</definitions>